<div class="flex justify-between items-center lg:mb-20 sm:mb-14 mb-8">
  <div>
    <h1 class="text-black mb-2 sm:text-5xl text-3xl font-bold">Invoices</h1>
    <p class="sm:block hidden text-gray text-base font-medium">
      There are {{ totalInvoices$ | async }} total invoices
    </p>
    <p class="block sm:hidden text-gray text-base font-medium">
      {{ totalInvoices$ | async }} total invoices
    </p>
  </div>

  <div class="relative flex sm:gap-10 gap-3 items-center">
    <div
      class="hidden text-black text-base font-semibold sm:flex items-center sm:gap-4 gap-3 cursor-pointer"
      (click)="toggleDropdown()"
    >
      Filter by status
      <app-icons iconType="arrow-down" />
    </div>

    <div
      class="sm:hidden text-black text-base font-semibold flex items-center sm:gap-4 gap-3 cursor-pointer"
      (click)="toggleDropdown()"
    >
      Filter
      <app-icons iconType="arrow-down" />
    </div>

    <!-- Dropdown Menu -->
    @if (isDropdownOpen) {
    <div
      class="absolute sm:right-40 right-10 sm:top-10 top-14 mt-2 w-48 bg-white rounded-md shadow-lg z-20"
    >
      <ul class="py-1 text-navy text-base font-semibold">
        <li class="px-4 py-2 flex gap-2 items-center cursor-pointer">
          <input type="checkbox" /> Paid
        </li>
        <li class="px-4 py-2 flex gap-2 items-center cursor-pointer">
          <input type="checkbox" /> Pending
        </li>
        <li class="px-4 py-2 flex gap-2 items-center cursor-pointer">
          <input type="checkbox" /> Draft
        </li>
      </ul>
    </div>
    }

    <button
      class="hidden sm:flex items-center sm:gap-3 gap-2 rounded-full text-white text-base font-bold bg-purple hover:bg-purpleHover sm:p-4 p-2"
      (click)="openDrawer()"
    >
      <app-icons class="bg-white p-2 rounded-full" iconType="add" />
      New Invoice
    </button>
    <button
      class="sm:hidden flex items-center sm:gap-3 gap-2 rounded-full text-white text-base font-bold bg-purple hover:bg-purpleHover sm:p-4 p-3"
      (click)="openDrawer()"
    >
      <app-icons class="bg-white p-2 rounded-full" iconType="add" />
      New
    </button>
  </div>
</div>
