<div
  *ngIf="isOpen"
  class="sm:block hidden fixed inset-0 bg-black bg-opacity-50 z-10"
  (click)="closeDrawer()"
></div>

<div
  *ngIf="isOpen"
  class="fixed inset-y-0 lg:left-[103px] w-full sm:w-3/4 sm:top-20 lg:top-0 top-20 sm:rounded-tr-3xl sm:rounded-br-3xl lg:w-2/5 bg-white shadow-lg z-40 transform transition-transform duration-300"
>
  <div class="p-8 overflow-y-auto drawer-content h-[calc(100%-80px)]">
    <app-invoice-form
      [invoiceId]="invoiceId"
      [closeDrawer]="closeDrawer.bind(this)"
    />
  </div>
</div>
