<div
  class="flex justify-start items-center gap-4 text-sm text-black font-semibold cursor-pointer"
>
  <app-icons iconType="arrow-left" />
  <h1 class="mt-1">Go back</h1>
</div>

<div
  class="flex justify-between items-center bg-white px-8 py-5 mt-8 rounded-lg shadow-sm"
>
  <div class="flex gap-4 items-center">
    <h1 class="text-gray text-sm font-semibold">Status</h1>
    <div
      class="flex gap-2 items-center text-orange text-xs font-bold bg-orange bg-opacity-10 px-8 py-3 rounded-md"
    >
      <div class="text-orange p-1 bg-orange rounded-full"></div>
      Pending
    </div>
  </div>
  <div class="flex gap-5">
    <button
      class="text-blueGray text-sm font-bold bg-blueGray bg-opacity-10 px-8 py-4 rounded-full"
    >
      Edit
    </button>
    <button class="text-white text-sm font-bold bg-red px-8 py-4 rounded-full">
      Delete
    </button>
    <button
      class="text-white text-sm font-bold bg-purple px-8 py-4 rounded-full"
    >
      Mark as Paid
    </button>
  </div>
</div>

<div class="bg-white mt-6 rounded-lg p-12">
  <div class="flex justify-between items-centers">
    <div>
      <h1 class="text-black text-base font-bold">#XM9141</h1>
      <p class="text-blueGray text-sm font-semibold">Graphic Design</p>
    </div>
    <p class="text-blueGray font-semibold text-sm text-right">
      19 Union Terrace <br />London <br />E1 3EZ <br />United Kingdom
    </p>
  </div>

  <div class="flex justify-between mt-6">
    <div class="flex flex-col gap-4">
      <div>
        <p class="text-blueGray text-sm font-semibold">Invoice Date</p>
        <h1 class="text-black text-base font-bold">21 Aug 2021</h1>
      </div>
      <div>
        <p class="text-blueGray text-sm font-semibold">Payment Due</p>
        <h1 class="text-black text-base font-bold">21 Sep 2021</h1>
      </div>
    </div>
    <div>
      <p class="text-blueGray text-sm font-semibold">Bill To</p>
      <h1 class="text-black text-base font-bold">Alex Grim</h1>
      <p class="text-blueGray font-semibold text-sm">
        84 Church Way<br />
        Bradford <br />
        BD1 9PB<br />
        United Kingdom
      </p>
    </div>
    <div>
      <p class="text-blueGray text-sm font-semibold">Sent to</p>
      <h1 class="text-black text-base font-bold">alexgrim&#64;mail.com</h1>
    </div>
  </div>

  <div class="bg-tablebg mt-12 p-8 rounded-t-lg w-full">
    <table class="w-full">
      <tr class="text-blueGray text-sm font-semibold">
        <th class="w-2/4 text-left">Item name</th>
        <th class="w-1/6 text-left">QTY.</th>
        <th class="w-1/6 text-right">Price</th>
        <th class="w-1/6 text-right">Total</th>
      </tr>
      <tr>
        <td class="pt-8 text-black text-sm font-bold">Logo Design</td>
        <td class="pt-8 text-blueGray text-sm font-bold">1</td>
        <td class="pt-8 text-blueGray text-sm font-bold text-right">$500.00</td>
        <td class="pt-8 text-black text-sm font-bold text-right">$500.00</td>
      </tr>
      <tr>
        <td class="pt-8 text-black text-sm font-bold">Logo Design</td>
        <td class="pt-8 text-blueGray text-sm font-bold">1</td>
        <td class="pt-8 text-blueGray text-sm font-bold text-right">$500.00</td>
        <td class="pt-8 text-black text-sm font-bold text-right">$500.00</td>
      </tr>
    </table>
  </div>
  <div
    class="bg-sidebar flex justify-between items-center px-8 py-4 rounded-b-lg"
  >
    <p class="text-white text-sm font-semibold">Amount Due</p>
    <h1 class="text-white text-2xl font-semibold">$ 556.00</h1>
  </div>
</div>
