@if (invoice$ | async) {
<div
  class="flex justify-start items-center gap-4 text-sm text-black font-semibold cursor-pointer"
  (click)="goBack()"
>
  <app-icons iconType="arrow-left" />
  <h1 class="mt-1">Go back</h1>
</div>

<div
  class="flex justify-between items-center bg-white px-8 py-5 mt-8 rounded-lg shadow-sm"
>
  <div class="flex justify-start sm:gap-4 items-center">
    <h1 class="text-gray text-sm font-semibold">Status</h1>
    <div
      class="flex gap-2 items-center text-xs font-bold bg-opacity-10 px-6 py-3 rounded-md"
      [ngClass]="{
              'text-orange bg-orange': (invoice$ | async)!.status === 'pending',
              'text-green bg-green ': (invoice$ | async)!.status === 'paid',
              'text-sidebar bg-sidebar': (invoice$ | async)!.status === 'draft',
              }"
    >
      <div
        class="text-orange p-1 bg-orange rounded-full"
        [ngClass]="{
              'text-orange bg-orange': (invoice$ | async)!.status === 'pending',
              'text-green bg-green': (invoice$ | async)!.status === 'paid',
              'text-sidebar bg-sidebar': (invoice$ | async)!.status === 'draft',
              }"
      ></div>
      {{
        (invoice$ | async)!.status.charAt(0).toUpperCase() +
          (invoice$ | async)!.status.slice(1)
      }}
    </div>
  </div>
  <div class="flex gap-5">
    <button
      class="text-blueGray text-sm font-bold bg-blueGray bg-opacity-10 px-8 py-4 rounded-full"
      type="button"
      (click)="openEditDrawer()"
    >
      Edit
    </button>
    <button
      class="text-white text-sm font-bold bg-red px-8 py-4 rounded-full"
      type="button"
      (click)="openDeleteModal()"
    >
      Delete
    </button>
    @if ((invoice$ | async)!.status !== "paid") {
    <button
      class="text-white text-sm font-bold bg-purple px-8 py-4 rounded-full"
      type="button"
      (click)="markAsPaid(invoiceId)"
    >
      Mark as Paid
    </button>
    }
  </div>
</div>

<div class="bg-white mt-6 rounded-lg sm:p-12 p-6">
  <div class="flex justify-between items-centers">
    <div>
      <h1 class="text-black text-base font-bold">
        #{{ (invoice$ | async)!.id }}
      </h1>
      <p class="text-blueGray text-sm font-semibold">
        {{ (invoice$ | async)!.description }}
      </p>
    </div>
    <p class="text-blueGray font-semibold text-sm text-right">
      {{ (invoice$ | async)!.senderAddress.street }} <br />{{
        (invoice$ | async)!.senderAddress.city
      }}
      <br />{{ (invoice$ | async)!.senderAddress.postCode }} <br />{{
        (invoice$ | async)!.senderAddress.country
      }}
    </p>
  </div>

  <div class="grid sm:grid-cols-3 grid-cols-2 mt-6">
    <div class="flex flex-col gap-4">
      <div>
        <p class="text-blueGray text-sm font-semibold">Invoice Date</p>
        <h1 class="text-black text-base font-bold">
          {{ (invoice$ | async)!.createdAt | date : "dd MMM yyyy" }}
        </h1>
      </div>
      <div>
        <p class="text-blueGray text-sm font-semibold">Payment Due</p>
        <h1 class="text-black text-base font-bold">
          {{ (invoice$ | async)!.paymentDue | date : "dd MMM yyyy" }}
        </h1>
      </div>
    </div>
    <div>
      <p class="text-blueGray text-sm font-semibold">Bill To</p>
      <h1 class="text-black text-base font-bold">
        {{ (invoice$ | async)!.clientName }}
      </h1>
      <p class="text-blueGray font-semibold text-sm">
        {{ (invoice$ | async)!.clientAddress.street }} <br />{{
          (invoice$ | async)!.clientAddress.city
        }}
        <br />{{ (invoice$ | async)!.clientAddress.postCode }} <br />{{
          (invoice$ | async)!.clientAddress.country
        }}
      </p>
    </div>
    <div>
      <p class="text-blueGray text-sm font-semibold">Sent to</p>
      <h1 class="text-black text-base font-bold">
        {{ (invoice$ | async)!.clientEmail }}
      </h1>
    </div>
  </div>

  <div class="bg-tablebg mt-12 p-8 rounded-t-lg w-full">
    <table class="w-full">
      <tr class="text-blueGray text-sm font-semibold">
        <th class="w-2/4 text-left">Item name</th>
        <th class="w-1/6 text-left">QTY.</th>
        <th class="w-1/6 text-right">Price</th>
        <th class="w-1/6 text-right">Total</th>
      </tr>
      @for (item of (invoice$ | async)!.items; track $index) {
      <tr>
        <td class="pt-8 text-black text-sm font-bold">
          {{ item.name }}
        </td>
        <td class="pt-8 text-blueGray text-sm font-bold">
          {{ item.quantity }}
        </td>
        <td class="pt-8 text-blueGray text-sm font-bold text-right">
          {{ item.price | currency : "GBP" : "symbol" }}
        </td>
        <td class="pt-8 text-black text-sm font-bold text-right">
          {{ item.total | currency : "GBP" : "symbol" }}
        </td>
      </tr>
      }
    </table>
  </div>
  <div
    class="bg-sidebar flex justify-between items-center px-8 py-4 rounded-b-lg"
  >
    <p class="text-white text-sm font-semibold">Amount Due</p>
    <h1 class="text-white text-2xl font-semibold">
      {{ (invoice$ | async)!.total | currency : "GBP" : "symbol" }}
    </h1>
  </div>
</div>
}

<app-drawer [invoiceId]="invoiceId" />

<app-delete-modal
  [isOpen]="isDeleteModalOpen"
  [invoiceId]="invoiceId"
></app-delete-modal>
