<nav
  class="w-full lg:w-[103px] bg-sidebar lg:h-full h-20 flex lg:flex-col flex-row justify-between items-center"
>
  <app-icons class="lg:block hidden" iconType="logo-desk" />
  <app-icons class="lg:hidden block" iconType="logo-mob" />

  <div
    class="flex lg:flex-col flex-row items-center gap-6 lg:pb-6 lg:pr-0 pr-6"
  >
    <app-icons iconType="dark" />

    <div class="w-px lg:w-[103px] lg:h-px h-20 bg-divider"></div>

    <img
      class="w-8 h-8 lg:w-10 lg:h-10 rounded-full"
      src="assets/avatar.jpg"
      alt=""
    />
  </div>
</nav>
