<nav
  class="top-0 left-0 lg:w-[103px] w-full lg:h-full h-20 flex lg:flex-col flex-row justify-between items-center bg-sidebar relative z-50"
>
  <app-icons class="lg:block hidden" iconType="logo-desk" />
  <app-icons class="lg:hidden block" iconType="logo-mob" />

  <div
    class="flex lg:flex-col flex-row items-center gap-6 lg:pb-6 lg:pr-0 pr-6"
  >
    <button (click)="switchThemes()">
      <app-icons class="dark:hidden block" iconType="dark" />
      <app-icons class="dark:block hidden" iconType="light" />
    </button>

    <div class="w-px lg:w-[103px] lg:h-px h-20 bg-divider"></div>

    <img
      class="w-8 h-8 lg:w-10 lg:h-10 rounded-full"
      src="assets/avatar.jpg"
      alt=""
    />
  </div>
</nav>
